:root {
    --red: #E50914;
    --black: #141414;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*Base elements*/

body {
    background: var(--black);
    font-family: 'Times New Roman', Times, serif;
    color: white;
}


/*Type of "wrapper"class*/

.container {}

header .container {
    display: flex;
    /* flex-direction aqui mais p/ caráter semântico porque isso by deafult */
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

header .logo {
    margin-left: 5px;
    color: var(--red);
    font-family: 'Arial Black', Times;
    font-size: 40px;
}

header nav a {
    text-decoration: none;
    color: #AAA;
    margin-right: 10px;
}

header nav a:hover {
    color: #fff;
}


/*SIGNS OF THE ZODIAC DIV*/

.zodiac-signs {
    font-size: 16px;
    /*By using two colors in the rgba the image gets a tiny slayer and it helps with the contrast improving the visibility*/
    background: linear-gradient(rgba(0, 0, 0, .50), rgba(0, 0, 0, .50)100%), url("../images/zodiac-signs.jpeg");
    height: 400px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    /*justify-content always follows the direction of flex-direction. Here it's justifying the content vertcally*/
    justify-content: center;
    align-items: flex-start;
}

.zodiac-signs .description {
    margin-bottom: 40px;
}

.title {
    font-size: 40px;
}