:root {
    --red: #E50914;
    --black: #141414;
    --white: #ffffff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*Base elements*/

body {
    background: var(--black);
    font-family: 'Arial', Times, serif;
    color: var(--white);
}


/*Type of "wrapper"class*/

header .container {
    display: flex;
    /* flex-direction aqui mais p/ caráter semântico porque isso by deafult */
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

header .logo {
    margin-left: 5px;
    color: var(--red);
    font-family: 'Arial Black', Times;
    font-size: 40px;
}

header nav a {
    text-decoration: none;
    color: #AAA;
    margin-right: 10px;
}

header nav a:hover {
    color: var(--white);
}


/*SIGNS OF THE ZODIAC DIV*/

.zodiac-signs {
    font-size: 16px;
    /*By using two colors in the rgba the image gets a tiny slayer and it helps with the contrast improving the visibility*/
    background: linear-gradient(rgba(0, 0, 0, .50), rgba(0, 0, 0, .50)100%), url("../images/zodiac-signs.jpeg");
    height: 400px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    /*justify-content always follows the direction of flex-direction. Here it's justifying the content vertcally*/
    justify-content: center;
    align-items: flex-start;
}

.zodiac-signs .description {
    margin-top: 10px;
    margin-bottom: 40px;
}

.zodiac-signs .title {
    margin-top: 15%;
    font-size: 40px;
    font-family: 'Trebuchet MS', Arial, sans-serif;
}


/*BUTTONS*/

.button {
    background-color: rgba(0, 0, 0, .50);
    border: none;
    color: var(--white);
    padding: 15px 30px;
    margin-right: 15px;
    font-size: 12px;
    cursor: pointer;
    /*Handles the transition between animations*/
    transition: .3s ease all;
}

.button:hover {
    background-color: var(--white);
    color: var(--black);
}

.button i {
    margin-right: 8px;
}

a {
    text-decoration: none;
    transition: .3s ease all;
    color: var(--white);
    padding: 15px 30px;
    margin-right: 15px;
}

a:hover {
    color: var(--black);
}

.container {
    margin-left: 20px;
}

.zodiac-signs .container {
    width: 70%;
}


/*IMAGES*/

.zodiac-images {
    height: 100%;
    width: 100%;
    display: block;
    cursor: pointer;
}

.zodiac-carousel {
    margin-top: 5px;
}